@import url(normalize.css);
.header{
    width: 100%;
    height: 210px;
    background-color: #13294b;
    display: flex;
    justify-content: center;
}
.logo{
    width: 272px;
    height: 90px;
    margin-top: 50px;
}
.contact{
    width: 364px;
    height: 80px;
    margin-top: 71px;
    margin-left: 15%;
}
.phone{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 13pt;
    font-weight: normal;
    margin: 0 0 21px;
}
.location{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 13pt;
    font-weight: normal;
    margin: 0;
}
.iconGroup{
    width: 128px;
    height: 25px;
    margin-top: 70px;
    margin-left: 10%;
    display: flex;
}
.icon{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.menu{
    border-top: 210px;
    background-color: #f8485e;
    width: 100%;
    height: 60px;
}
.menu__line{
    display: flex;
    justify-content: center;
}
.menu__text{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    font-weight: normal;
    margin-top: 20px;
    margin-right: 40px;
}
.menu__text:hover{
    font-size: 20pt;
}
.menu__text:last-child{
    margin-right:0px;
}
.menu__drop{
    position: relative;
    display: none;
    width: 100%;
    text-align: center;
}
.drop__button{
    background-color: #f8485e;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25pt;
    font-weight: bold;
    padding: 16px;
    border: none;
    margin: 0;
}
.drop__content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}
.menu__drop:hover .drop__content{
    display: block;
    background-color: #f8485e; 
}
.root{
    background-image: url('../image/backGround.png');
    width: 100%;
}
.body{
    margin: 0 auto;
    min-width: 300px;
    max-width: 1280px;
}
.title{
    width: 370px;
    margin-left:10vw;
    margin-top: 80px;
    margin-bottom: 70px;
}

.block{
    width: 100%;
    margin:0 auto 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.agap{
    display: grid;  
    grid-template-columns:  minmax(320px,550px)  minmax(320px,580px);
    grid-gap:30px;
    margin-bottom: 100px;
}
.agap__profil{
    margin-top:70px;
    width: 100%;
}
.text{
    margin-top: 70px;
    width: fit-content;
}
.education{
    grid-row-gap: 20px;
    margin-bottom:20px;
}
.parag{
    display: flex;
    justify-content: space-between;
}
.basic__title{
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    font-weight: bold;
    margin: 0 0 30px;
    grid-column: 1/3;
}
.year{
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    font-weight: normal;
    margin: 0 10px 0 0 ;
}
.info{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    font-weight: normal;
}
.diploms{
    height: fit-content;
    width: fit-content;
}
.serf__vertical{
    height: 210px;
    width: 150px;
    margin-right:15px ;
}
.vertical{
    display: flex;
    justify-content: space-between;
}
.serf__gorizontal{
    height: 150px;
    width: 210px;
    margin-right:15px ;
}
.serf__gorizontal:last-of-type{
    margin-right:0;
}

.pod{
    display: grid;
    grid-template-columns:  760px 700px;
    grid-column-gap: 95px;
    margin-bottom: 80px;
}
.pod__text{
    grid-column: 1/2;
    grid-row:1/2;
}
.pod__profile{
    grid-column: 2/3;
    width: 100%;
    margin-top: 70px;
}
.pod__vertical{
    width: 170px;
    height: 245px;
    margin-right: 20px;
}
.pod__vertical:nth-child(6){
    margin-right: 200px;
}
.pod__gorizontal{
    width: 200px;
    height: 140px;
    margin-right: 32px;
}
.footer{
    height: 220px;
    background-color: #13294b;
}
.footer__text{
    font-family: 'Roboto', sans-serif;
    font-size: 21pt;
    font-weight: normal;
    color: white;
    text-align: center;
    padding-top: 13vh;
}
